<!doctype>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
	</head>

	<body class="container">
		<% if flash[:notice] %>
		<div class="aler alert-success">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:error] %>
	<div class="aler alert-danger">
		<%= flash[:error] %>
	</div>
	<% end %>
		<%= yield %>
	</body>
</html>
